html {
  /* 1rem = 16px, so when define at 62.5% 1rem = 10 px */
  /* for responsive size, just change this font-size in media-query (for ex retina screen) */
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}

body {
  font-family: 'Amarante', sans-serif;
}

/* header */
#header,
#footer {
  background: #272017;
  color: rgb(231, 173, 66);
}
#header::after,
#footer::before {
  content: '';
  display: block;
  height: 1rem;
  background-color: rgb(128, 37, 21);
  border: solid black 0.1rem;
  border-width: 0.2rem 0;
}
#library-title {
  text-align: center;
  padding: 2rem 0;
  font-size: 3.5rem; /*35 px*/
}
#footer {
  padding-bottom: 1.5rem;
}
#footer a {
  color: white;
  text-align: center;
  display: block;
  margin-top: 1.5rem;
  text-decoration: none;
  font-size: 1.2rem;
}
#footer a:hover {
  color: inherit;
}

/* Responsive Books list */
#library-list {
  background-color: #6e563a;
}
#books-list {
  width: min-content;
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  margin: auto;
  background-color: #272017;
  border: solid black 0.1rem;
  border-width: 0 0.2rem;
}
@media screen and (max-width: 1120px) {
  #books-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 920px) {
  #books-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 700px) {
  #books-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Book Items */
#books-list li {
  /* border: solid black 1px; */
  padding: 1rem;
  width: 20rem;
  height: 38rem;
  background-color: rgb(202, 161, 127);
  display: grid;
  grid-template-rows: 1fr 1fr repeat(3, auto);
  justify-items: center;
}
#books-list #add-book-zone {
  display: flex;
}

.book-title {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 85%;
}
.book-author {
  font-size: 1.4rem;
  margin: 0.5rem;
  text-align: center;
  line-height: 85%;
}
.book-cover {
  height: 25rem;
  object-fit: scale-down;
  max-width: 20rem;
  margin: 0.5rem 0;
  border: white 0.1rem solid;
}
.book-nb-pages {
  font-size: 1.3rem;
}
.book-btns {
  width: 20rem;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}
.book-btns button {
  font-size: inherit;
}

/* Add Book Form */
@keyframes add-book-form-display {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#new-book-btn {
  font-size: 5rem;
  font-weight: bold;
  line-height: 0;
  margin: auto;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  animation: add-book-form-display 1s;
}
#add-book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  animation: add-book-form-display 1s;
}
#add-book-form-title {
  margin-bottom: 3rem;
  margin-top: 1rem;
  font-size: 1.7rem;
  width: 15rem;
  text-align: center;
}
#add-book-form input {
  margin-bottom: 1rem;
  width: 17rem;
  display: inline-block;
  padding: 0.5rem 1rem;
  /* line-height: 50%; */
  font-size: inherit;
}
#add-book-form input::placeholder {
  font-size: inherit;
}
#nb-pages-div,
#read-div {
  display: flex;
}
#add-book-form #nb-pages-input {
  margin-left: 0.5rem;
  width: 6rem;
}
#add-book-form #read-input {
  margin-left: 0.5rem;
  width: 2rem;
}
#add-book-form input[type='submit'] {
  margin-top: 3rem;
  cursor: pointer;
}

/* footer */

/* mobile */
@media screen and (max-width: 470px) {
  html {
    font-size: 2.1vw;
  }
}
