html {
  /* 1rem = 16px, so when define at 62.5% 1rem = 10 px */
  /* for responsive size, just change this font-size in media-query (for ex retina screen) */
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Cormorant Garamond', serif;
}
#library-list {
  background-color: #deb887;
}

#books-list {
  /* width: -moz-fit-content;
  max-width: 100rem; */
  width: min-content;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  margin: auto;
  background-color: rgb(136, 80, 54);
  border: 1rem solid rgb(136, 80, 54);
}
@media screen and (max-width: 1380px) {
  #books-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 1120px) {
  #books-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 850px) {
  #books-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
#header {
  background: linear-gradient(to bottom, #aa8554, #deb887);
}
#library-title {
  text-align: center;
  padding: 2rem 0;
  font-size: 3.5rem; /*35 px*/
  color: rgb(95, 8, 8);
}

/* Book Items */
#books-list li {
  border-style: solid;
  border-image: linear-gradient(to bottom, rgb(37, 16, 16), rgb(95, 41, 41)) 1
    100%;
  border-image-slice: 1;
  border-width: 3rem 2rem 0 2rem;
  padding: 1rem;
  background-color: rgb(179, 108, 86);
  width: 20rem;
  height: 38rem;
  display: grid;
  grid-template-rows: 1fr 1fr repeat(3, auto);
  justify-items: center;
}
#books-list #add-book-zone {
  display: flex;
}

.book-title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
}
.book-author {
  font-size: 1.2rem;
  margin: 0.5rem;
  text-align: center;
}
.book-cover {
  height: 22rem;
  object-fit: scale-down;
  max-width: 18rem;
  margin: 0.5rem 0;
}
.book-nb-pages {
  font-size: 1.2rem;
}
.book-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}
.book-btns button {
  font-size: inherit;
}

/* Add Book Form */
@keyframes add-book-form-display {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#new-book-btn {
  font-size: 5rem;
  font-weight: bold;
  line-height: 0;
  margin: auto;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  animation: add-book-form-display 1s;
}
#add-book-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  animation: add-book-form-display 1s;
}
#add-book-form input {
  margin: 0 2rem 0 1rem;
}

#footer {
  background-color: gray;
}

/* mobile */
@media screen and (max-width: 500px) {
  html {
    font-size: 1.8vw;
  }
}
